<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiledev183.lawapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Kaleeyantey"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mobiledev183.lawapp.Activity.ProfileActivity"
            android:theme="@style/LoginTheme">
        </activity>
        <activity
            android:name="com.mobiledev183.lawapp.Activity.CaseDetailsActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name="com.mobiledev183.lawapp.Activity.AddCaseActivity" />
        <activity
            android:name="com.mobiledev183.lawapp.Activity.HomeActivity"
            android:theme="@style/LoginTheme"></activity>
        <activity android:name="com.mobiledev183.lawapp.Activity.ForgotPasswordActivity" />
        <activity
            android:name="com.mobiledev183.lawapp.Activity.RegistrationActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.mobiledev183.lawapp.Activity.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>